:root 
{
    --principal-bg-color: #FE9DA6;
}

body 
{
    margin: 0;
    padding: 0;    
}

header 
{
    background-color: var(--principal-bg-color);
}

.logo 
{ 
    border-radius: 20px;
}

.height-pictures 
{
    height: 85vh;
}

.btn 
{
    background-color: var(--principal-bg-color);
}

footer 
{
    background-color: var(--principal-bg-color);
}

a:hover 
{
    text-decoration:none;
}

.bemVindo, .cortinas 
{
    color: var(--principal-bg-color);
    
}

.about 
{
    margin-top: -10%;
}

.sobre 
{
    font-size: 1.2em;
    
}


@media(max-width: 767px)
{
    .height-pictures 
    {
        height: 40vh;
         
    }    

    .logo 
    {
        width: 60%;
    }
    
    .fas {color: white;}
    
    
}