:root 
{
    --principal-bg-color: #FE9DA6;
}

html 
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body 
{
    margin: 0;
    padding: 0; 
    overflow-x: hidden;  
}

header 
{
    background-color: var(--principal-bg-color);
}

.logo 
{ 
    border-radius: 20px;
}

.height-pictures 
{
    height: 85vh;
}

.btn 
{
    background-color: var(--principal-bg-color);
}

.btn:hover 
{
    -webkit-transform: scale(1.04);
}

footer 
{
    background-color: var(--principal-bg-color);
    
}



a:hover 
{
    text-decoration:none;
}

.bemVindo, .cortinas 
{
    color: var(--principal-bg-color);
    
}

.about 
{
    margin-top: -10%;
}

.sobre 
{
    font-size: 1.2em;
    
}

#navbarCollapse a:hover 
{
    -webkit-transform: scale(1.04);
}

.home-button 
{
    color: var(--principal-bg-color);    
}

.home-button:hover 
{
    -webkit-transform: scale(1.04);
    color: var(--principal-bg-color);    
}

@media(max-width: 767px)
{
    .height-pictures 
    {
        height: 40vh;
         
    }    

    .logo 
    {
        width: 60%;
    }
    
    .fas {color: white;}   
    
    h1, .bemVindo 
    {
        font-size: 1.6em;
    }

    h4
    {
        font-size: 1.2em;
    }

    .sobre 
    {
        font-size: 1em;
    }
}