:root 
{
    --principal-bg-color: #FE9DA6;
}

body 
{
    margin: 0;
    padding: 0;    
}

header 
{
    background-color: var(--principal-bg-color);
}

.logo 
{ 
    border-radius: 20px;
}

.btn 
{
    background-color: var(--principal-bg-color);
}

footer 
{
    background-color: var(--principal-bg-color);
}
